## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [4]:
import os
import numpy as np
import pandas as pd

In [8]:
# 設定 data_path
dir_data = '/Users/elvisfan/Desktop/ML-100-Days-master/'

In [9]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: /Users/elvisfan/Desktop/ML-100-Days-master/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [11]:
app_train.shape

(307511, 122)

#### 列出所有欄位

In [12]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [15]:
app_train[['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER']]

        SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER
0           100002         Cash loans           M
1           100003         Cash loans           F
2           100004    Revolving loans           M
3           100006         Cash loans           F
4           100007         Cash loans           M
5           100008         Cash loans           M
6           100009         Cash loans           F
7           100010         Cash loans           M
8           100011         Cash loans           F
9           100012    Revolving loans           M
10          100014         Cash loans           F
11          100015         Cash loans           F
12          100016         Cash loans           F
13          100017         Cash loans           M
14          100018         Cash loans           F
15          100019         Cash loans           M
16          100020         Cash loans           M
17          100021    Revolving loans           F
18          100022    Revolving loans           F
19          100023         Cash loans           F
20          100024    Revolving loans           M
21          100025         Cash loans           F
22          100026         Cash loans           F
23          100027         Cash loans           F
24          100029         Cash loans           M
25          100030         Cash loans           F
26          100031         Cash loans           F
27          100032         Cash loans           M
28          100033         Cash loans           M
29          100034    Revolving loans           M
...            ...                ...         ...
307481      456225         Cash loans           M
307482      456226         Cash loans           F
307483      456227         Cash loans           F
307484      456228         Cash loans           F
307485      456229    Revolving loans           F
307486      456230         Cash loans           F
307487      456231         Cash loans           M
307488      456232         Cash loans           F
307489      456233         Cash loans           F
307490      456234         Cash loans           M
307491      456235         Cash loans           M
307492      456236         Cash loans           M
307493      456237         Cash loans           F
307494      456238         Cash loans           M
307495      456239         Cash loans           M
307496      456240    Revolving loans           F
307497      456241         Cash loans           F
307498      456242         Cash loans           M
307499      456243         Cash loans           F
307500      456244         Cash loans           F
307501      456245         Cash loans           F
307502      456246         Cash loans           F
307503      456247         Cash loans           F
307504      456248         Cash loans           F
307505      456249         Cash loans           F
307506      456251         Cash loans           M
307507      456252         Cash loans           F
307508      456253         Cash loans           F
307509      456254         Cash loans           F
307510      456255         Cash loans           F

[307511 rows x 3 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子